/* ====================================
// css variables
// ==================================== */

:root {
  --dark-blue: #264653;
  --green: #2a9d8f;
  --white: #ffefef;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  color: var(--white);
}

.box {
  padding: 40px;
  background-color: var(--dark-blue);
}

.section {
  background-color: var(--green);
}

.section-1 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.section-2 {
  display: flex;
  justify-content: flex-end;
}

.section-3 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.section-4 {
  display: flex;
  justify-content: space-around;
}

.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
